.cardD {
    box-shadow: 20px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;

  }
  
  .cardD:hover {
    transform: scale(1.07);
  }
  
  .image {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
  